pandas有两种基本数据结构，Series和DataFrame，分别存储一维和二维数据

In [ ]:
import pandas as pd
import numpy as np

## Series的数据结构

Series 一般由四个部分组成，分别是序列的值 data 、索引 index 、存储类型 dtype 、序列的名字 name 。其中，索引也可以指定它的名字，默认为空。

### Series的三种创建方式

#### 1.列表

In [ ]:
list = [2, 4, "name", "age"]
s1 = pd.Series(list)
s1

#### 2.数组

In [ ]:
s2 = pd.Series(np.array(list), index=["a", "b", "c", "d"], name="数组数据")
s2

#### 3.字典

In [ ]:
s3 = pd.Series({"a":2, "b":4, "c":"name", "d":"age"}, name="字典数据")
s3

### Series数据访问

In [ ]:
# 属性: values，index，name，dtype，shape
s3.values
s3.index
s3.name
s3.shape

In [ ]:
# 通过切片或者索引的方式进行访问
s3[3]
s3['c']

## DataFrame的数据结构
DataFrame 在 Series 的基础上增加了列索引，一个数据框由二维的 data 与行列索组成

### DataFrame的三种创建方式
#### 1.二维列表或数组

In [ ]:
df1 = pd.DataFrame(data = [["li", "zhang", "liu"], [20, 30, 25], ["male", "male", "female"]], 
                  columns = ["姓名", "年龄", "性别"], 
                  index = ["row_%d"%i for i in range(3)],
#                  dtype = {'年龄': int}
                  )
df1

#### 2.字典

In [ ]:
data = {"姓名":["li", "zhang", "liu"], "年龄":[20, 30, 25], "性别":["male", "male", "female"]}
df2 = pd.DataFrame(data)
df2

In [ ]:
df3 = pd.DataFrame.from_dict(data)
df3

#### 3.通过文件读入

In [ ]:
## 读取文件返回的为数据框格式
pd.read_csv()
pd.read_excel()
pd.read_json()
...

### DataFrame数据访问

In [52]:
## 属性
df2.columns
df2.index
df2.dtypes
df2.values
df2.T

       0      1       2
姓名    li  zhang     liu
年龄    20     30      25
性别  male   male  female