# 文件读取

In [ ]:
import pandas as pd
import numpy as np
%pwd

In [ ]:
import os

In [ ]:
os.getcwd()
os.chdir(r'C:\Users\lenovo\Desktop\jupyter-test\Python\pandas')

### csv文件读取

In [ ]:
df1 = pd.read_csv('./pd_data/beijing_tianqi_2017-2019.csv',
                dtype={'aqiLevel':int}, encoding='utf-8')
# 常用参数：sep;header;index_col;names...

In [ ]:
df1.head()

### Excel文件读取

In [ ]:
df2 = pd.read_excel('./pd_data/student_excel.xlsx',sheet_name=0)
# 参数几乎与read_csv一样，需要指定sheet_name，默认为0，即第一个sheet

In [ ]:
df2.head(5)

### json文件读取

In [ ]:
df3 = pd.read_json('./pd_data/input.json')

In [ ]:
df3

### txt文件读取

In [35]:
df4 = pd.read_table('./pd_data/access_pvuv.txt', sep='\t',header=None, names=['pdate', 'pv', 'uv'])
df4.head()

        pdate   pv   uv
0  2019-09-10  139   92
1  2019-09-09  185  153
2  2019-09-08  123   59
3  2019-09-07   65   40
4  2019-09-06  157   98

* header=None 表示第一行不作为列名，   
* index_col 表示把某一列或几列作为索引，  
* usecols 表示读取列的集合，默认读取所有的列，  
* parse_dates 表示需要转化为时间的列，  
* nrows 表示读取的数据行数，  
* sep=' \|\|\|\| ',engine='python'  sep指定分隔符，使用的是正则表达式，同时指定引擎为 python

### mysql文件读取

In [40]:
import pymysql

In [ ]:
conn = pymysql.connect(
        host='127.0.0.1',
        user='root',
        password='12345678',
        database='test',
        charset='utf8'
    )
mysql_page = pd.read_sql("select * from crazyant_pvuv", con=conn)

# 文件写入
pandas 中没有定义 to_table 函数，但是 to_csv 可以保存为 txt 文件，并且允许自定义分隔符，常用制表符 \t 分割

In [ ]:
df1.to_csv('test.csv', sep='\t', index=False)
df2.to_excel('test.xlsx', index=False)